.Header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}
.dark-header {
  background-color: rgb(32, 30, 30);
}


.Header h1 {
  margin: 0px;
}
.dark-header h1 {
  color: rgba(255, 255, 255, 0.774);
}
.light-header h1 {
  color: rgb(71, 69, 69);
}

.Header button {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 5px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 400;
  border: none;
  transition: 0.5s;
}
.light-header button {
  background: #03a9f4;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
}
.dark-header button {
  background: #2196f3;
  color: #fff;
}

.Header button:hover {
  background: #ff568f;
}