.dark-search-container {
  background-color: rgb(32, 30, 30);
}
.Search {
  border-radius: 5px;
  margin: 30px;
  height: 50px;
  width: 70%;
  color: rgb(71, 69, 69);

  font-size: 24px;
  text-align: center;
  font-weight: 400;
  box-shadow: 0px 5px 50px #2c29293b;
}
.dark-search-container .Search {
  background: #06111de7;
  color: whitesmoke;
  border: 2px solid #c9d9e6;
  box-shadow: 0px 5px 50px #1c374b3b;
}
